<form class="container" #formModel="ngForm" (ngSubmit)="submit(formModel)">
  <div class="form-group">
      <label for="firstName">First name : </label>
      <input ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control" required minlength="3" maxlength="10" pattern="banana"/>
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        
        <div *ngIf="firstName.errors.required">First name is required !</div>
        <div *ngIf="firstName.errors.minlength?.requiredLength">First name should have at least {{firstName.errors.minlength.requiredLength}} caracters</div>
        <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern</div>
      </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment : </label>
    <textarea class="form-control" ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10" required></textarea>
    <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">The comment is required</div>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ngModel name="isSibscribed"> Subscribed to mailling list
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact method</label>
    <select multiple id="contactMethod" class="form-control" ngModel name="contactMethod">
      <option value="">Select a method</option>
      <option *ngFor="let contactMethod of contactMethods" [ngValue]="contactMethod">{{ contactMethod.name }}</option>
    </select>
  </div>
  <div class="radio" *ngFor="let method of contactMethods">
    <label><input type="radio" name="contact" [value]="method.id" ngModel>{{ method.name }}</label>
</div>
  <p> {{ formModel.value | json }} </p>
  <button class="btn btn-primary" [disabled]="formModel.invalid">Submit</button>
</form>